@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
    background-color: rgb(55, 83, 108);  
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navbar {
	background-color: rgb(41, 61, 81);
}

.dropdown {
    display: inline-block;
    text-align: center;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #34495e;
}

.puzzle-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    max-width: 780px;
    padding-top: 2%; 

}

.puzzle-pic {
    flex: 0 0 32%;
    max-width: 260px;
    border: 2px solid black; 
    background-color: rgb(41, 61, 81); 
}

img {
    max-width: 100%; 
}

#logo {
    position: relative;
    top: 7px;  
    left: 2px; 
}

h1 {
    color: white;
    text-align: center;
    padding-top: 2%; 
}

#button-container {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#swap-button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid; 
    text-transform: uppercase; 
    color: white; 
    font-size: 15px;
    font-weight: bold;
}
  
  #swap-button:hover {
    width: 100px;
    height: 40px;
    background-color: rgb(41, 61, 81);
    border-radius: 5px;
    border: 2px solid; 
    text-transform: uppercase; 
    color: white; 
    font-weight: bold;
    cursor: pointer;
}

p {
    text-align: center;
    color: white;
    font-size: 20px; 
}

#text-div {
    flex: 1 0 auto; 
    padding-top: 1%;
}

footer {
    flex-shrink: 0;
    background-color: rgb(41, 61, 81);
    color: white;
    text-align: center;
    padding: 3px;
}